{
  "openapi": "3.1.0",
  "info": {
    "title": "solidtime",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://app.solidtime.io/api",
      "description": "Production"
    },
    {
      "url": "https://app.staging.solidtime.io/api",
      "description": "Staging"
    },
    {
      "url": "https://solidtime.test/api",
      "description": "Local"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/v1/users/me/api-tokens": {
      "get": {
        "operationId": "getApiTokens",
        "description": "This endpoint is independent of organization.",
        "summary": "List all api token of the currently authenticated user",
        "tags": [
          "ApiToken"
        ],
        "responses": {
          "200": {
            "description": "`ApiTokenCollection`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiTokenCollection"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "createApiToken",
        "description": "The response will contain the access token that can be used to send authenticated API requests.\nPlease note that the access token is only shown in this response and cannot be retrieved later.",
        "summary": "Create a new api token for the currently authenticated user",
        "tags": [
          "ApiToken"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ApiTokenWithAccessTokenResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiTokenWithAccessTokenResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PersonalAccessClientIsNotConfiguredException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/users/me/api-tokens/{apiToken}/revoke": {
      "post": {
        "operationId": "revokeApiToken",
        "summary": "Revoke an api token",
        "tags": [
          "ApiToken"
        ],
        "parameters": [
          {
            "name": "apiToken",
            "in": "path",
            "required": true,
            "description": "The api token ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/PersonalAccessClientIsNotConfiguredException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/users/me/api-tokens/{apiToken}": {
      "delete": {
        "operationId": "deleteApiToken",
        "summary": "Delete an api token",
        "tags": [
          "ApiToken"
        ],
        "parameters": [
          {
            "name": "apiToken",
            "in": "path",
            "required": true,
            "description": "The api token ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/PersonalAccessClientIsNotConfiguredException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/weekly-project-overview": {
      "get": {
        "operationId": "weeklyProjectOverview",
        "summary": "Get chart data for the weekly project overview",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "value",
                      "name",
                      "color"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/latest-tasks": {
      "get": {
        "operationId": "latestTasks",
        "summary": "Get chart data for the latest tasks",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "task_id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "status": {
                        "type": "boolean"
                      },
                      "time_entry_id": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "task_id",
                      "name",
                      "description",
                      "status",
                      "time_entry_id"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/last-seven-days": {
      "get": {
        "operationId": "lastSevenDays",
        "summary": "Get chart data for the last seven days",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "integer"
                      },
                      "history": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      }
                    },
                    "required": [
                      "date",
                      "duration",
                      "history"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/latest-team-activity": {
      "get": {
        "operationId": "latestTeamActivity",
        "summary": "Get chart data for the latest team activity",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "member_id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "time_entry_id": {
                        "type": "string"
                      },
                      "task_id": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "status": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "member_id",
                      "name",
                      "description",
                      "time_entry_id",
                      "task_id",
                      "status"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/daily-tracked-hours": {
      "get": {
        "operationId": "dailyTrackedHours",
        "summary": "Get chart data for daily tracked hours",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "date",
                      "duration"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/total-weekly-time": {
      "get": {
        "operationId": "totalWeeklyTime",
        "summary": "Get chart data for total weekly time",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/total-weekly-billable-time": {
      "get": {
        "operationId": "totalWeeklyBillableTime",
        "summary": "Get chart data for total weekly billable time",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/total-weekly-billable-amount": {
      "get": {
        "operationId": "totalWeeklyBillableAmount",
        "summary": "Get chart data for total weekly billable amount",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "value",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/charts/weekly-history": {
      "get": {
        "operationId": "weeklyHistory",
        "summary": "Get chart data for weekly history",
        "tags": [
          "Chart"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "date",
                      "duration"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/clients": {
      "get": {
        "operationId": "getClients",
        "summary": "Get clients",
        "tags": [
          "Client"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ClientCollection`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientCollection"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create client",
        "tags": [
          "Client"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/clients/{client}": {
      "put": {
        "operationId": "updateClient",
        "summary": "Update client",
        "tags": [
          "Client"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "The client ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete client",
        "tags": [
          "Client"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "The client ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/EntityStillInUseApiException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get all currencies",
        "tags": [
          "Currency"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "symbol": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "code",
                      "name",
                      "symbol"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/export": {
      "post": {
        "operationId": "exportOrganization",
        "summary": "Export data of an organization",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "download_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "download_url"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ExportException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/importers": {
      "get": {
        "operationId": "getImporters",
        "summary": "Get information about available importers",
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "name",
                          "description"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/import": {
      "post": {
        "operationId": "importData",
        "summary": "Import data into the organization",
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "type": "object",
                      "description": "Import report",
                      "properties": {
                        "clients": {
                          "type": "object",
                          "properties": {
                            "created": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        "projects": {
                          "type": "object",
                          "properties": {
                            "created": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        "tasks": {
                          "type": "object",
                          "properties": {
                            "created": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        "time_entries": {
                          "type": "object",
                          "properties": {
                            "created": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        "tags": {
                          "type": "object",
                          "properties": {
                            "created": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        "users": {
                          "type": "object",
                          "properties": {
                            "created": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        }
                      },
                      "required": [
                        "clients",
                        "projects",
                        "tasks",
                        "time_entries",
                        "tags",
                        "users"
                      ]
                    }
                  },
                  "required": [
                    "report"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "enum": [
                            "Invalid base64 encoded data"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/invitations": {
      "get": {
        "operationId": "getInvitations",
        "summary": "List all invitations of an organization",
        "tags": [
          "Invitation"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `InvitationResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvitationResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated."
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "invite",
        "summary": "Invite a user to the organization",
        "tags": [
          "Invitation"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationStoreRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/InvitationForTheEmailAlreadyExistsApiException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/invitations/{invitation}/resend": {
      "post": {
        "operationId": "resendInvitationEmail",
        "summary": "Resend email for a pending invitation",
        "tags": [
          "Invitation"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitation",
            "in": "path",
            "required": true,
            "description": "The invitation ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/invitations/{invitation}": {
      "delete": {
        "operationId": "removeInvitation",
        "summary": "Remove a pending invitation",
        "tags": [
          "Invitation"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitation",
            "in": "path",
            "required": true,
            "description": "The invitation ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/members": {
      "get": {
        "operationId": "getMembers",
        "summary": "List all members of an organization",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `MemberResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemberResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated."
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/members/{member}": {
      "put": {
        "operationId": "updateMember",
        "summary": "Update a member of the organization",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "description": "The member ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`MemberResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MemberResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ChangingRoleOfPlaceholderIsNotAllowed"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "removeMember",
        "summary": "Remove a member of the organization",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "description": "The member ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete_related",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/CanNotRemoveOwnerFromOrganization"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/members/{member}/invite-placeholder": {
      "post": {
        "operationId": "invitePlaceholder",
        "summary": "Invite a placeholder member to become a real member of the organization",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "description": "The member ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/InvitationForTheEmailAlreadyExistsApiException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/members/{member}/make-placeholder": {
      "post": {
        "operationId": "makePlaceholder",
        "summary": "Make a member a placeholder member",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "description": "The member ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/ChangingRoleOfPlaceholderIsNotAllowed"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/member/{member}/merge-into": {
      "post": {
        "operationId": "mergeMember",
        "summary": "Merge one member into another",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "description": "The member ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberMergeIntoRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/OnlyPlaceholdersCanBeMergedIntoAnotherMember"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`OrganizationResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "updateOrganization",
        "summary": "Update organization",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`OrganizationResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get projects visible to the current user",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ProjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated."
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ProjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/projects/{project}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ProjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/EntityStillInUseApiException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/projects/{project}/project-members": {
      "get": {
        "operationId": "getProjectMembers",
        "summary": "Get project members for project",
        "tags": [
          "ProjectMember"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ProjectMemberResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectMemberResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated."
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "createProjectMember",
        "summary": "Add project member to project",
        "tags": [
          "ProjectMember"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectMemberStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ProjectMemberResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectMemberResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UserIsAlreadyMemberOfProjectApiException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/project-members/{projectMember}": {
      "put": {
        "operationId": "updateProjectMember",
        "summary": "Update project member",
        "tags": [
          "ProjectMember"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectMember",
            "in": "path",
            "required": true,
            "description": "The project member ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectMemberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ProjectMemberResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectMemberResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectMember",
        "summary": "Delete project member",
        "tags": [
          "ProjectMember"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectMember",
            "in": "path",
            "required": true,
            "description": "The project member ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/reports": {
      "get": {
        "operationId": "getReports",
        "summary": "Get reports",
        "tags": [
          "Report"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ReportResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReportResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated."
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "createReport",
        "summary": "Create report",
        "tags": [
          "Report"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`DetailedReportResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DetailedReportResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/reports/{report}": {
      "get": {
        "operationId": "getReport",
        "summary": "Get report",
        "tags": [
          "Report"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "description": "The report ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`DetailedReportResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DetailedReportResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "updateReport",
        "summary": "Update report",
        "tags": [
          "Report"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "description": "The report ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`DetailedReportResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DetailedReportResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "deleteReport",
        "summary": "Delete report",
        "tags": [
          "Report"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "description": "The report ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/public/reports": {
      "get": {
        "operationId": "getPublicReport",
        "description": "This endpoint is public and does not require authentication. The report must be public and not expired.\nThe report is considered expired if the `public_until` field is set and the date is in the past.\nThe report is considered public if the `is_public` field is set to `true`.",
        "summary": "Get report by a share secret",
        "tags": [
          "Report"
        ],
        "responses": {
          "200": {
            "description": "`DetailedWithDataReportResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedWithDataReportResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/v1/organizations/{organization}/tags": {
      "get": {
        "operationId": "getTags",
        "summary": "Get tags",
        "tags": [
          "Tag"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`TagCollection`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TagCollection"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create tag",
        "tags": [
          "Tag"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "path",
            "required": true,
            "description": "The organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`TagResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TagResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
[...]
